html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/instruments.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #747474;

}

.piano {
    display: flex;
    position: relative;
}

.whitekey {
    width: 50px;
    height: 120px;
    cursor: pointer;
    border: 3px solid black;
    background-color: white;
    border-radius: 0 0 4px 4px;
    outline: none;
    margin-left: -4px;
}

.whitekey:active, .blackkey:active {
    background-color: rgb(165, 165, 165) ;
}

.blackkey {
    position: absolute;
    width: 30px;
    height: 83px;
    cursor: pointer;
    outline: none;
    border-radius: 0 0 3px 3px;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.535));
    border: 3px solid black;
    color: white;
}


.active {
    background-color: rgb(165, 165, 165) ;

}

.Db4 {
    left: 29px;
}
.Eb4 {
    left: 74px;
}
.Gb4 {
    left: 166px;
}
.Ab4 {
    left: 213px;
}
.Bb4 {
    left: 258px;
}
.Db5 {
    left: 351px;
}
.Eb5 {
    left: 396px;
}

@media only screen and (max-width: 900px) {
    body{
        background: url(../img/piano.jpg);
        background-size: cover;
    }
}

@media only screen and (max-width: 400px) {
    
    body{
        background: url(../img/piano.jpg);
        background-size: cover;
    }
    .whitekey {
        width: 40px;
        height: 120px;
    }
    
    .blackkey {
        position: absolute;
        width: 22px;
        height: 83px;
    }

    .Db4 {
        left: 22px;
    }
    .Eb4 {
        left: 58px;
    }
    .Gb4 {
        left: 130px;
    }
    .Ab4 {
        left: 166px;
    }
    .Bb4 {
        left: 202px;
    }
    .Db5 {
        left: 274px;
    }
    .Eb5 {
        left: 310px;
    }
    
}
